/* FONTS:
 "Sometype Mono":Titulo de los cuadros
 "JetBrains Mono":inf de las tarjetas,descipcion larga,cuadraditos,limpiar,galeria
 "Ubuntu": art place,todo lo demas */

 body{
   margin:0px;
 }

 h1{
    font-family: "Ubuntu";
    color: white;
    background-color: black;
    font-size: 45px;
    padding: 8px;
    margin: 0;
    text-align: center;
    font-weight: normal; /*para quitar el negrita de h1*/
    width: 100%;
}
 #banner{
    background-image: url('./Imagenes/imagen\ section.jpg');
    background-size: cover; /*para que la imagen se acome al contenedor*/
    width: 100%;
    padding-top:5px;
    padding-bottom:60px;
    margin:0;
    position: relative;
 }
 #banner img {
   width: 100%;
   object-fit: cover;
 }
 h2{
    font-family: "JetBrains Mono";
    background-color: #F5F1E5;
    width: 100%; 
    font-size: 30px;
    padding: 3px;
    margin-top: 12px;
    margin-bottom: 30px;
    text-align: center; 
    margin-left: 0px;
}
 article{
    background-color: rgba(255, 255, 255, 0.7); /*para que la opacidad solo afecte al fonfo y no todo lo de adentro*/
    width: 100%; 
    padding:4px;
    display:flex;
    flex-direction: row;
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    align-items: center; /*se alinea verticalmente*/
    height:30%;

    
 }
button{
    font-family:"JetBrains Mono";
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 2px 30px;
    position: absolute;
   left: 70%;
}
footer{
    font-family: "JetBrains Mono";
    width: 100%; 
    padding: 10px;
    font-size: 15px;
    text-align:right;
    border-top: 2px solid black;
 }

#root{ /*todo el cuerpo donde estan las tarjetas*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   padding: 3vw;
   justify-content:space-between ;
   list-style: none; /*para que los puntitos desaparezcan*/

   background-color:white;
   columns:4 300px;    /*cuantas columnas y cual es su ancho*/
   column-gap:3%;   /*distancia entre columnas*/
   display: inline-block; /* Asegura que las tarjetas se comporten como bloques en línea */
}

dl{   /*tarjetas independientes*/
   background-color:#F8F8F1;
   max-width: 100%;
   margin-bottom: 20%;
   padding-bottom:5%; 
   box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);   /*oara generar la sombra*/
   break-inside: avoid-column; /* Evita que una tarjeta se divida entre columnas */
   display: block;  
}
dt, dd {   /*cada item dentro de las tarjetas*/
   font-family: "JetBrains Mono";
   font-size: small;
   max-width: 100%;
   margin: 1px 0px;
   text-align: center; /* Centra el texto horizontalmente */ 
}
img[itemprop="image"]{
   margin:0 px;
   padding: 0px;
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
 dd[itemprop="name"] {
   font-family: "Sometype Mono";
   font-weight: bold;
   font-size: larger;
   margin:3px;
 }
 